@import url(https://fonts.googleapis.com/css?family=PT+Sans);
body{
	background: #CDE5E5;
}
#menu{
	z-index: 100;
	width: 100%;
}
.fixed{
	position:fixed;
	top:0
}
.menu-prin{
	opacity: 0.9 !important;
    filter: alpha(opacity=40);
    color: #fff !important;
}
.navbar-header{
	color: #fff; 
}
.logo img{
	background-image:url(../img/logo.png); 
	width: 10%;
	height: 40%;
	float: right;
	margin-right: 30px;
}
.jumbotron{
	background-image:url(../img/banner.png); 
	color: #fff;
	background-repeat: no-repeat;
	height:200px;
	border-radius: 0px !important;
}
.jumbotron h1{
	margin: 0px !important;
	width: 100%;
	
	font-size: 4em;
}
.navbar{
	margin-bottom: 0;
	background: #1C2833;
	border-radius: 0px !important;
	color: #fff !important;
	
}
.nav{
	margin-bottom: 0;
	background: #1C2833;
	border-radius: 0px !important;
	color: #fff !important;
	
}
.icon{
	padding: 0px !important;
	color: #fff;
	font-size: 30px;
}
.icon-t{
	font-size: 30px;
	color: #fff;
	padding-top: 10px;
	cursor: pointer;
}
.icon-t-sm{
font-size:25px;
color: #fff;
}
.icon-crud{
	color: #999;
	font-size:35px;
}
.main{
	margin-bottom: 10px;
	margin-top: 20px;

}
.pos{
	border-bottom:1px dashed #777;
	margin: 4px;
	font-family: 'Metrophobic','PT Sans', sans-serif;}
}
.post{
	padding-bottom:5px;
	margin-bottom:0px;
	border-bottom: 1px solid #999;
	background: #e4e5e5;
}
.post h2{
	border-bottom:1px solid #1c2833;
	margin:5px 5px 5px 10px;
	background: #fff;
	border-radius: 5px 5px 0px 0px;
	color: #555;
	padding-left: 15px;
}
.post p i{
	font-size: 12px;
	float: right;
	margin: 5px;
}
.post p{
	border-bottom:1px dashed #5287b8;
	margin:0px 10px 0px 10px;
	background: #fff;
	border-radius: 0px 0px 0px 0px;
	color: #777;
	padding-left: 15px;
}
.post .post-contenido{
	margin: 10px;
	background: #f6fafe;
	padding: 5px;
	font-family: 'Metrophobic','PT Sans', sans-serif;}

}
.post .thumb{
 margin-right: 10px;
 width: 30%;
}
.post .thumb img{
 width: 100%;
}
.img-destacada{
	border: 2px solid green;
	width: 50px;
	height: 50px;
}
.form-buscar-movil{
		display: none !important;
		width: 100%;
}
.form-buscar {
	width: 100%;
	padding:5px;
	padding: 0px !important;
	float: left;
	margin-top: 5px;
}
.form-buscar button{
	width:20%;	
	float: right;
	margin-left:5px;
}
.form-buscar .buscar{
	width: 70% !important;
	
	background: #fff;
	float: right;
	padding-left: 5px;
}
.form-control{
	text-align: left;
}
.cont-panel{
	padding: 0px !important;
	margin: 0px !important;
	float: left;
	width: 100%;
}
.aside{
	float: right;	
	width: 100%;
	margin: 0px !important;
	padding: 0px 0px 15px 0px;
}
.panel{
	padding: 0px !important;
	margin-top: 0px;
	float: left;
	width: 100%;
	text-align: left;
	margin-left: 0px !important;
}
.panel ul{
	list-style: none;
	padding:0px;
	float: left;
	line-height:10px;
	margin-right: 20px;
	width: 100%;
	min-height: 300px;
	text-align: left;
	
}
.panel ul li{
	display: block;
	list-style-type:none; 
	margin:3px 10px 10px 5px;
	border-bottom: 1px solid gray;
	padding-bottom:1px;
	cursor: pointer;
}
.panel ul li b{
	margin: 0px !important;
	font-size:40px;
	text-decoration: none;
}
.panel ul li .texto{
font-size:20px;
font-family: 'Metrophobic','PT Sans', sans-serif;}
.panel ul li :hover{
	text-decoration: none;
}
.table-lis-cate{
	font-size:16px;
	width: 100%;

}
.table-lis-cate td{
	margin: 5px !important;
}
.table-lis-cate .last-col{
	width:20%;
		
}
.con-tex-entra{
	float: left;
	width:50%;
	padding: 2px;
}
.txt-entrada{
	width:100%;
}
.sel-cat{
	font-size: 19px;
}
.list-cate-entra{
	float: right;
	width:40%;
	padding: 2px;
}
.sel-categoria{
width:100%;
}
#con_comentarios{
	display: none;
}
#buscar_sm{
	width:30%;
	float: left;
}
#buscar_sm input{
	width:73%;
	float: left;
	margin-right: 5px;
}
#buscar_sm button{
	width: 20%;
	float: left;
}
.conte-entrada{
	background: #fcfafa;
	margin: 5px;
	min-height: 100px;
	padding-left: 4px;
}
.nom_cat{
	float: right;
	font-size: 3px;
}
.footer{
	top:30px;
	min-height:100px;
	background: #1c2833;
}
@media screen and (max-width: 766px){
	/*Para dispositivos cuya pantalla no supere los 766px*/
	#menu{
	z-index: 100;
	width: 100%;
}
.fixed{
	position:fixed;
	top:0
}
.cont-panel{
	padding: 0px !important;
	margin: 0px !important;
	float: left;
	width: 100%;
}
.aside{
	padding:0px !important;
	float: right;
	width:100%;
	margin: 0px !important;
}
.panel{
	padding:0px  !important;
	margin: 0px  !important;
	float: right;
	width: 100% !important;
	text-align: center !important;
	height: 63px;
}
.panel ul{
	margin: auto 0px;
	list-style: none;
	text-align: center;
	float: none;
	
}
.panel ul li{
	margin: auto 5px;
	float: none;
	display: inline;
	text-align: center;
}
.panel ul li b{
	font-size:60px;
	text-decoration: none;
}
.panel ul li .texto{
	font-size:20px;
	font-family: 'Metrophobic','PT Sans', sans-serif;
}
.panel ul li :hover{
	text-decoration: none;
}
.post{
	overflow: hidden;
	-webkit-transition:all 1s;
	outline-width:0;
}
.post h2{
		margin: 0px !important;
		padding: 5px 0px 0px 20px;
}

.table-lis-cate{
	font-size:16px;
}
.table-lis-cate b{
	font-size:30px;
}
.post .thumb{
		width:100%;
		transition:all 0.5s;
}
.boton{
		display: block !important;
		width: 100%;
}
.form-buscar-movil{
		display: block !important;
		width: 100%;
}

}
@media screen and (max-width: 468px){
	.post .thumb{
		display: none;
		transition:all 0.5s;
	}
	.aside{
	padding:0px !important;
	float: right;
	width:100%;
	margin: 0px !important;
	}
	.panel{
	padding:0px  !important;
	margin: 0px  !important;
	float: right;
	width: 100% !important;
	text-align: center !important;
	height: 50px;
	}
	.panel ul{
	margin: auto 0px;
	list-style: none;
	text-align: center;
	float: none;
	}
	.panel ul li{
	margin: auto 5px;
	padding:2px;
	display: inline;
	text-align: center;
	min-height: 30px;

}
.panel ul li b{
	font-size:40px;
	text-decoration: none;


}
.table-lis-cate{
	font-size:13px;
}
.table-lis-cate b{
	font-size:30px;
}
.sel-cat{
	font-size: 12px;
	width: 100%;
}
.list-cate-entra{
	float: right;
	width:45%;
	padding: 2px;
}
}
/*****************************************/

.form-search{
	border: 1px solid blue;
	margin-right:9px;
	width: 100%;
	 
}
.buscar{
border-radius: 3px;	
background:#17202A ;
padding-bottom:5px;
color: #000;
}
.buscar h4 h4{
background: #34495E;
padding:10px;
border-radius: 2px 2px 0px 0px;
color: #fff;

}

.icon-admin{

	font-size: 50px;
}
.border{
	border: 1px solid red;
}
.color{
	border: 2px solid red;
}


