*{
	margin: 0px;
	padding: 0px;
}
.form-add-trec{
	width: 50%;
	border: 2px solid #85C1E9;
	padding:10px;
	border-radius: 5px;
	background: #F2F3F4;
}
.form-add-trec .titulo-add-recurso{
	width: 100%;
	border: 2px solid #85C1E9;
	text-align: center;
	font-size: 30px;
	background: #85C1E9;
	color: #fff;
	border-radius: 5px 5px 0px 0px;
}
.lis-ti-rec{
	margin: 10px;
	width:80%;
	border-radius: 5px;
	background: #F2F3F4;
	padding: 15px;
}
.lis-ti-rec table{
	text-align: left;
	width:100%;
	font-size: 25px;
	font-family: "Times New Roman";

	}
.lis-ti-rec table th{
	text-align: center;
	border-bottom: 2px solid #999;
}
.lis-ti-rec table tr{
	text-align: center;
}
.lis-ti-rec table tr td{
	border:1px solid #999;
	background: #AED6F1;
}

footer {
  background-color: #222222;
  bottom: 0px;
        
        left: 0;
        position: absolute;
        right: 0;
        border-radius: 4px;
}

.pfooter{
    
       color: gray;
        left: 0;      
        right: 0;
          color: #9d9d9d;

}

.col-sm-2 {
    width: 80%;
    background-color: #9A9A9A;
  }

 .t1{
 	background-color: #9A9A9A;
 }

 .well {
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
  background-color: #9A9A9A;
  border: 0px ;
  
}

.btn-primary {
  color: #fff;
  background-color: #535556;
  border-color: #535556;
  width: 200px;
}
.btn-primary:focus,
.btn-primary.focus {
  color: #fff;
  background-color: #2F3132;
  border-color: #2F3132;
}
.btn-primary:hover {
  color: #fff;
  background-color: #2F3132;
  border-color: #2F3132;
}
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  color: #fff;
  background-color: #2F3132;
  border-color: #2F3132;
}
.btn-primary:active:hover,
.btn-primary.active:hover,
.open > .dropdown-toggle.btn-primary:hover,
.btn-primary:active:focus,
.btn-primary.active:focus,
.open > .dropdown-toggle.btn-primary:focus,
.btn-primary:active.focus,
.btn-primary.active.focus,
.open > .dropdown-toggle.btn-primary.focus {
  color: #fff;
  background-color: #2F3132;
  border-color: #2F3132;
}
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  background-image: none;
}
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled.focus,
.btn-primary[disabled].focus,
fieldset[disabled] .btn-primary.focus {
  background-color: #2F3132;
  border-color: #2F3132;
}
.btn-primary .badge {
  color: #2F3132;
  background-color: #2F3132;
}